@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "./index";
@import "./_helpers.scss";

body {
    //background: #000;
}
.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
