@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding: 0 32px;
    &-top {
        background: url("../images/bg-head__desc.png") no-repeat 0 0;
        background-size: cover;
    }
}

