@import "./_helpers.scss";

.header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    min-height: 160px;
    margin: 0 auto;
    padding: 30px 0 30px;
    @media screen and (max-width: 1024px) {
        min-height: initial;
    }
    &-logo {
        @include flex-vc;
        padding-right: 8px;
        svg {
            width: 100%;
            max-width: 263px;
        }
    }
    &-content {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        max-width: 765px;
        @media screen and (max-width: 1024px) {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            max-width: 350px;
            max-height: 0;
            padding:  16px 75px 16px 16px;
            background: #000;
            transition: all .5s ease;
        }
        &-top {
            @include flex-vc;
            justify-content: space-between;
            justify-self: flex-end;
            width: 100%;
            max-width: 348px;
            min-height: 36px;
            margin-bottom: 30px;
            @media screen and (max-width: 1024px) {
                margin-bottom: 16px;
            }
        }
        &__social {
            @include flex-vc;
            justify-content: space-between;
            width: 110px;
            a {
                width: 18px;
                height: 18px;
            }
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
        &__lang {
            @include flex-vc;
            padding-right: 16px;
            height: 18px;
            color: #FFFFFF;
            text-transform: capitalize;
            font-size: 16px;
            font-family: GilroySemiBold;
            line-height: normal;
            background: url("../images/svg/dropdown-bottom.svg") center right no-repeat;
        }
        &__auth {
            .ant-btn {
                @include flex-hvc;
                width: 120px;
                height: 36px;
                line-height: normal;
                font-weight: normal;
                color: #fff;
                font-size: 16px;
                font-family: GilroySemiBold;
                border: none;
                background: #FD6C02;
                border-radius: 36px;
            }
        }
        &-bottom {
            width: 100%;
        }
    }
    &-navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 765px;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
        a {
            color: #FFFFFF;
            font-size: 16px;
            font-family: GilroySemiBold;
            transition: all .5s;
            border-bottom: 1px solid rgba(255, 255, 255, 0);
            & + a {
                margin-left: 8px;
                @media screen and (max-width: 1024px) {
                    margin-left: 0;
                }
            }
            &:hover {
                border-bottom: 1px solid rgba(255, 255, 255, 0.8);
            }
        }
    }

}
.mob-menu {
    position: absolute;
    top: 75px;
    right: 75px;
    z-index: 100;
    visibility: hidden;
    &:checked {
        & + .header-content {
            display: flex;
            max-height: 235px;
            opacity: 1;
            transition: all .5s ease;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
            top: 0;
        }
    }
    &::after, &::before {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background: #FFFFFF;
        visibility: visible;
        transition: all .5s;
    }
    &::after {
        top: 10px
    }
}
