@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import "./_helpers.scss";

.projects {
    position: inherit;
    &__wrapper {
        margin: 0 -32px;
        .slick-prev,
        .slick-next {
            width: 24px;
            height: 20px;
            top: 143px;
            z-index: 3;
            transform: translate(0px, 0px);
            &.slick-disabled {
                opacity: 0.64;
            }
            &::before {
                display: none;
            }
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
        .slick-prev {
            left: initial;
            right: 247px;
            background: url("../images/arrow-prev.png") no-repeat 0 0;
            background-size: contain;
        }
        .slick-next {
            right: 183px;
            background: url("../images/arrow-next.png") no-repeat 0 0;
            background-size: contain;
        }
        .slick-list {
            padding-left: 120px;
            height: 441px;
            overflow-y: hidden;
            @media screen and (max-width: 1024px) {
                padding-left: 60px;
            }
            @media screen and (max-width: 600px) {
                padding-left: 32px;
            }
        }
        .slick-track {
            display: flex!important;
            & > .slick-slide {
                float: none!important;
            }
        }
        .slick-slide {
            width: 100%;
            max-width: 270px;
            margin-right: 30px;
            &.slick-current {
                margin-left: 0;
            }
            & + .slick-current {
                margin-left: 0;
            }
        }
    }
    &-item {
        &__image {
            width: 100%;
            padding-bottom: 18px;
        }
        &__info {
            padding: 0 20px;
            h4 {
                color: #FFFFFF;
                font-family: GilroySemiBold;
                font-size: 14px;
                height: 17px;
                line-height: 17px;
                margin-bottom: 12px;
            }
            p {
                color: #FFFFFF;
                font-family: GilroySemiBold;
                font-size: 18px;
                line-height: 120%;
            }
        }
    }
    &__notify {
        @include flex-vc;
        height: 24px;
        font-family: GilroySemiBold;
        font-size: 14px;
        padding: 0 0 0 32px;
        margin: 53px 0 0 140px;
        color: rgba(255, 255, 255, 0.72);
        background: url("../images/lock_icon.png") 0 0 no-repeat;
        @media screen and (max-width: 1024px) {
            @include flex-hvc;
            width: 100%;
            max-width: 370px;
            margin: 53px auto 0;
        }
        @media screen and (max-width: 600px) {
            margin: 24px auto 0;
            height: auto;
            min-height: 24px;
            max-width: 336px;
            background-position: top left;
        }
    }
    &__more {
        @include flex-hc;
        margin: 52px 0 0 0;
        width: 100%;
        height: 60px;
        @media screen and (max-width: 1024px) {
            margin: 38px 0 0;
        }
        @media screen and (max-width: 600px) {

        }
        a {
            @include flex-hvc;
            width: 360px;
            height: 60px;
            color: #FFFFFF;
            font-size: 18px;
            font-family: GilroySemiBold;
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 100px;
            &:hover {
                border: 1px solid rgba(255, 255, 255, 1);
            }
        }
    }

}
