@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import "./_helpers.scss";

.projects {
    position: inherit;
    &__wrapper {
        margin: 0 -32px;
    }
    &-item {
        &__image {
            width: 100%;
            padding-bottom: 18px;
        }
        &__info {
            padding: 0 20px;
            h4 {
                color: #FFFFFF;
                font-family: GilroySemiBold;
                font-size: 14px;
                height: 17px;
                line-height: 17px;
                margin-bottom: 12px;
            }
            p {
                color: #FFFFFF;
                font-family: GilroySemiBold;
                font-size: 18px;
                line-height: 120%;
            }
        }
    }
    &__notify {
        @include flex-vc;
        height: 24px;
        font-family: GilroySemiBold;
        font-size: 14px;
        padding: 0 0 0 32px;
        margin: 53px 0 0 140px;
        color: rgba(255, 255, 255, 0.72);
        background: url("../images/lock_icon.png") 0 0 no-repeat;
    }
    &__more {
        @include flex-hc;
        margin: 52px 0 0 0;
        width: 100%;
        height: 60px;
        a {
            @include flex-hvc;
            width: 360px;
            height: 60px;
            color: #FFFFFF;
            font-size: 18px;
            font-family: GilroySemiBold;
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 100px;
            &:hover {
                border: 1px solid rgba(255, 255, 255, 1);
            }
        }
    }
    .slick-prev,
    .slick-next {
        width: 24px;
        height: 20px;
        top: 143px;
        z-index: 3;
        transform: translate(0px, 0px);
        &.slick-disabled {
            opacity: 0.64;
        }
        &::before {
            display: none;
        }
    }
    .slick-prev {
        left: initial;
        right: 247px;
        background: url("../images/arrow-prev.png") no-repeat 0 0;
        background-size: contain;
    }
    .slick-next {
        right: 183px;
        background: url("../images/arrow-next.png") no-repeat 0 0;
        background-size: contain;
    }
    .slick-list {
        padding-left: 120px;
        height: 441px;
        overflow-y: hidden;
    }
    .slick-slide {
        width: 100%;
        max-width: 270px;
        margin-right: 30px;
        &.slick-current {
            margin-left: 0;
        }
        & + .slick-current {
            margin-left: 0;
        }
    }
}
