@import "./_helpers.scss";

.section {
    $this: &;
    &-homepage-middle {
        background: #fff;
        #{$this}__content {
            padding: 123px 0 80px;
            position: relative;
            z-index: 2;
        }
        #{$this}-title {
            font-size: 96px;
            line-height: 80%;
            color: #000;
        }
        #{$this}-subtitle {
            max-width: 905px;
            color: #000;
            font-size: 24px;
            line-height: 120%;
        }
        #{$this}-text {
            max-width: 905px;
            font-size: 18px;
            line-height: 140%;
            color: #000;
            opacity: 0.4;
        }
    }
    &-homepage-bottom {
        background: #FD6C02;
        padding-bottom: 60px!important;
        #{$this}__content {
            position: relative;
            padding: 122px 0 0;
            z-index: 2;
        }
        #{$this}-title {
            font-size: 72px;
            line-height: 80%;
            color: #fff;
            margin-bottom: 18px;
        }
    }
}
.projects {
    &-list {
        display: flex;
        align-items: stretch;
        height: 42px;
        margin-bottom: 43px;
        &__item {
            @include flex-vc;
            color: #FFFFFF;
            font-size: 16px;
            font-family: GilroySemiBold;
            border-bottom: 1px solid rgba(255, 255, 255, 0);
            opacity: 0.75;
            transition: all .5s;
            &--active {
                opacity: 1;
                border-bottom: 1px solid rgba(255, 255, 255, 1);
            }
            &:hover {
                color: #fff;
                border-bottom: 1px solid rgba(255, 255, 255, 1);
            }
            & + & {
                margin-left: 39px;
            }
        }
    }
}
