@import './Signin.scss';

.section {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding: 0 32px;
    @media screen and (max-width: 600px) {
        padding: 0 20px;
    }
    &-header {

    }
    &__content {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        @media screen and (max-width: 1024px) {
            padding: 0 28px 0 76px;
        }
        @media screen and (max-width: 600px) {
            padding: 0;
        }
    }
    &-title {
        font-family: GilroySemiBold;
        margin-bottom: 25px;
    }
    &-subtitle {
        font-family: GilroySemiBold;
        margin-bottom: 14px;
    }
    &-text {
        font-size: 18px;
        font-family: GilroySemiBold;
        line-height: 140%;
    }
}
.svg-figure {
    position: absolute;
    top: 0;
    z-index: 0;
    transition: all .5s;
    &__white {
        top: -58px;
        left: 0;
        width: 322px;
        @media screen and (max-width: 1024px) {
            top: -65px;
            width: 198px;
            left: -16px;
        }
        @media screen and (max-width: 600px) {
            top: -29px;
            width: 176px;
            left: -75px;
        }
    }
    &__green {
        top: -203px;
        right: 0;
        width: 335px;
        @media screen and (max-width: 1024px) {
            top: -123px;
            width: 200px;
            right: -36px;
        }
        @media screen and (max-width: 600px) {
            top: -86px;
            width: 166px;
            right: -100px;
        }
    }
    &__orange-left {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @media screen and (max-width: 1024px) {
            top: 45%;
            transform: translateY(0);
        }
        @media screen and (max-width: 600px) {
            left: -60%
        }
    }
    &__orange-right {
        top: 25px;
        right: 0;
        @media screen and (max-width: 1024px) {
            right: -35%;
        }
        @media screen and (max-width: 600px) {
            top: 55px;
            right: -74%;
        }
    }
}
